html, body {
 margin: 10px;
 padding: 0px;
 border: 0px;
 }

.game{
	position:relative;
	padding:20px;
}

#outterBoard{
	margin-top:60px;
	outline:3px solid black;
	width:550px;
	height:550px;
}

#middleBoard{
	position:relative;
	left:98px;
	top:98px;
    height: 350px;
    width: 350px;
	outline:3px solid black;
}

#innerBoard{
	position:relative;
	left:75px;
	top:75px;
	height:200px;
	width:200px;
	outline:3px solid black;
}

.player1{
	position:fixed;
	bottom:0px;
	left:0px;
	background-color: #ff8080;
	width: 200px;
	height: 50px;
	opacity: 0.5;
}

.player2{
	position:fixed;
	left:200px;
	bottom:0px;
	background-color: #80aaff;
	width: 200px;
	height: 50px;
	opacity: 0.5;
}

h{
	font-size:50px;
	position: absolute;
	padding-left:20px;
	left:0;
	right:0;
	font-family: 'Pangolin', cursive;
}

.node{
	position:absolute;
	border:3px solid black;
	width:40px;
	height:40px;
	border-radius:50%; 
	background-color:white;
}

#zero{
	left:-5px;
	top:60px;
}


#one{
	top:60px;
	left:275px;
}

#two{
    left: 550px;
	top:60px;
}

#nine{
	left:-5px;
	top:332px;
}

#fourteen{
    left: 550px;
	top:332px;
}

#twenty-one{
	left:-5px;
	top:610px;
}

#twenty-two{
	left:275px;
	top:610px;
}

#twenty-three{	
    left: 550px;
	top:610px;
}

#three{
	top:-20px;
	left:-25px;
}

#four{
	top:-20px;
	left:158px;
}

#five{
	left:330px;
	top:-20px;
}

#ten{
	top:155px;
	left:-25px;
}

#thirteen{
	top:155px;
	left:330px;
}

#eighteen{
	left:-25px;
	top:330px;
}

#nineteen{
	left:158px;
	top:330px;
}

#twenty{
	left:330px;
	top:330px;
}

#six{
	top:-20px;
	left:-25px;
}

#seven{
	top:-20px;
	left:83px;
}

#eight{
	top:-20px;
	left:180px;
}

#eleven{
	left:-25px;
	top:80px;
}

#twelve{
	left:180px;
	top:80px;
}

#fifteen{
	left:-25px;
	top:180px;
}

#sixteen{
	left:83px;
	top:180px;
}

#seventeen{
	left:180px;
	top:180px;
}

.line{
	position:absolute;
	border:1.5px solid black;
}

#line-top{
	height:165px;
	left:297px;
}

#line-bottom{
	top:450px;
	height:165px;
	left:297px;
}

#line-left{
    top: 355px;
    width: 170px;
}

#line-right{
	width:170px;
	top:355px;
	left:390px;
}

#instru{
	font-family: 'Pangolin', cursive;
	margin-top:40px;
	margin-left:30px;
}

#phasesOfGame{
	font-family: 'Pangolin',cursive;
	margin-left:30px;
}

footer{
	font-size:20px;
	margin-bottom:50px;
}